/* Header */
body {
    font-family: 'Nunito', sans-serif;
}
header {
    background-color: #373738;
    height: 80px;
}
.inline-block {
    display: inline-block;
    vertical-align: top;
}
.logo {
    width: 10px;
    height: 10px;
    padding: 1%;
    text-align: center;
}
.logo2 {
    width: 50px;
}
nav {
    width: 500px;
    padding: 10px;
    position: absolute;
    right: 1px;
}
ul {
    width: 50%;
    margin-left: auto;
}
li {
    display: inline-block;
    color: white;
    padding-right: 10px;
}

/* Hero Image */
.heroImg {
    height: 600px;
    padding: 25px;
    background-color: #C3ECFF;
}
.content {
    width: 500px;
    margin: 0 auto;
    text-align: center;
    background-color: white;
    padding: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Button */
.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #C3ECFF;
    border: none;
    text-align: center;
    font-size: 20px;
    width: 125px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.button span:after {
    content: url(../images/Icon\ feather-download.png);
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.button:hover span {
    padding-right: 25px;
}
.button:hover span:after {
    opacity: 1;
    right: 0;
}

/* Footer */
footer {
    background-color: #373738;
}
.footer {
    display: inline-block;
    vertical-align: top;
    padding: 1%;
    color: white;
}